@model List<mvcVestibular.Models.Cliente>
@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Clientes</h2>

@if (TempData["Mensagem"] != null)
{
    <p><strong>@TempData["Mensagem"]</strong></p>
}

<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    @foreach (var cli in Model)
    {
        <tr>
            <td>@Html.DisplayFor(f=> cli.Id)</td>
            <td>@Html.DisplayFor(f=> cli.Nome)</td>
            <td>@Html.DisplayFor(f=> cli.Idade)</td>
        </tr>   
    }
</table>

